/target
wra4.txt
target/release/mydic_curr_1.txt
target/release/mydic_curr.txt
target/release/mydic_curr.txt.bak
target/release/mywords_08_2026.txt
target/release/mywords2_08_2026.txt
target/release/parsed_words.csv
target/release/wordlist-german.txt
target/release/wra1.txt
target/release/wra1.txt.bak
target/release/wra2.txt
target/release/wra2.txt.bak
target/release/wra3.txt
target/release/wra4.txt
target/release/wra4.txt.bak
target/release/wra5.txt
target/release/wra6.txt
target/release/wra7.txt
target/release/wra16.txt
target/release/wordfreq.d
target/document.txt
